#!/usr/bin/env sh
# SPDX-FileCopyrightText: 2020 CERN.
# SPDX-License-Identifier: MIT

include .editorconfig
prune docs/_build
include *.rst
include *.sh
include *.txt
include LICENSE
include pytest.ini
recursive-include .github/workflows *.yml
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include docker_services_cli *.py *.yml
recursive-include tests *.py
include .git-blame-ignore-revs
